<h2><%= @game.name %></h2>

<script>
  window.game_name = "<%= @game.name %>";
</script>

<div class="row">
  <div class="col">
    <div id="game">
      <p>Game not displaying...</p>
    </div>
  </div>
</div>

<span><%= link "Edit", to: game_path(@conn, :edit, @game) %></span>
<span><%= link "Back", to: game_path(@conn, :index) %></span>
