<div class="row">
  <div class="col">
    <h1>User Login</h1>
    <!-- Taken from Nat Tuck's lecture notes -->
    <%= form_tag("/session", method: :post) do %>
      <div class="form-group">
        Email
        <input type="email" name="email" placeholder="user123@example.com">
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Log In</button>
        <%= link "Sign Up", to: user_path(@conn, :new) %>
      </div>
    <% end %>
  </div>
</div>
